{
  "listener": {
    "host": "0.0.0.0",
    "port": 5678
  },
  "binary_protocol": {
    "module": "hivemind-audio-binary-protocol-plugin",
    "hivemind-audio-binary-protocol-plugin": {
      "stt": {
        "module": "ovos-stt-plugin-server",
        "ovos-stt-plugin-server": {
          "url": "https://stt.openvoiceos.org/stt"
        }
      },
      "tts": {
        "module": "ovos-tts-plugin-piper",
        "ovos-tts-plugin-piper": {
          "voice": "alan-low"
        }
      },
      "vad": {
        "module": "ovos-vad-plugin-silero"
      },
      "_comment_wake_word": "Using hey_mycroft for now. Replace with hey_ai.tflite once the custom model has been trained.",
      "wake_word": "hey_mycroft",
      "hotwords": {
        "hey_mycroft": {
          "module": "ovos-ww-plugin-precise-lite",
          "model": "~/.local/share/pixstars/wake-words/hey_mycroft.tflite"
        }
      }
    }
  }
}
